* {
    margin:none;
    padding: none;

}
@import url('https://fonts.googleapis.com/css2?family=Arimo:wght@700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

#buttonTemp {
    font-size: 16px;
    padding-left: 25px;
    padding-right: 25px;
    border-radius: 16px;
    background-color: #0083FF;
    color: white;
    transform: scale(1);
    transition: transform 300ms;
}
#buttonTemp:hover {
    cursor: pointer;
    transform: scale(1.2);
    transition: transform 300ms;
}
